body {
    margin: 0;
    height: 100vh;
    width: auto;
}

header, .first {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 16px 0;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
    margin: 0 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0 100px;
}

li {
    flex-shrink: 0;
}

.first {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
    justify-content: center;
    gap: 24px;
}

.left/*, .right*/ {
    flex: 1;
}


h1 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 0;
}

.left .text {
    font-size: 18px;
    color: #E5E7EB;
}


.right img {
    height: 500px;
    width: auto;
}

.right {
    display: flex;
    justify-content: center;
}

.left {
    max-width: 450px;
    max-height: 230px;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    border: 0;
    height: 40px;
    width: 150px;
    font-size: 16px;
    color: #E5E7EB;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content img {
    height: 50px;
    width: 20px;
}